.o_discuss_sidebar_icons_list {
    height: 100%;
    width: 66px;
    padding: 10px;
    border-right: 1px solid #d5d4d4;
    background-color: white !important;
}
.o_discuss_plus_icon {
    padding-bottom: 16px;
}
.o_discuss_plus_icon a, .o_discuss_plus_icon button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #2b8746;
    border-radius: 4px;
    border: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 1;
    margin-left: 8px;
}
.o_discuss_sidebar_icons_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.o_discuss_sidebar_icons_list ul li {
    padding-bottom: 16px;
}
.o_discuss_sidebar_icons_list ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 1;
    color: #8c8d8f;
    border-radius: 100%;
    text-decoration: none;
}
.o_discuss_sidebar_icons_list ul li a:hover {
    color: #2b74da;
    background: #dfeeff;
}

.o_discuss_sidebar_icons_list ul .fa.custom-fa.fa-envelope, .fa.custom-fa.fa-file, .fa.custom-fa.fa-inbox, .fa.custom-fa.fa-paper-plane, .fa.custom-fa.fa-archive {
    color: transparent;
    -webkit-text-stroke-width: 2px;
 }
 .o_trash i.fa-trash-o {
    -webkit-text-stroke-width: 0.6px;
    font-size: 28px;
 }
 .o_fa_active_trash {
    -webkit-text-stroke-color: #2b74da !important;
}
.fa.custom-fa {
    -webkit-text-stroke-color: #73767c;
    color:transparent;
}
.o_fa_active {
    -webkit-text-stroke-color: #2b74da !important;
    color:transparent;
}
.o_discuss_sidebar_icons_list ul li a:has(> i.o_fa_active), .o_discuss_sidebar_icons_list ul li a:has(> i.o_fa_active_trash) {
    color: #2b74da;
    background: #dfeeff;
}
.table-container {
    max-height: 580px;
    overflow-y: auto;
}

/* Search box container */
.search-container {
    margin-left: 20px;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 60%;
}

/* Search input field */
.search-input {
    width: 100%;
    padding: 10px;
    border: none;
     border-radius: 20px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Search button */
.search-button {
    position: absolute;
    right: 0;
    background-color: #fff;
    border: none;
    color: #888;
    padding: 10px 15px;
    font-size: 16px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Focus state for search input field */
.search-input:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Clear button (X) */
.clear-button {
    position: absolute;
    right: 40px;
    background-color: #fff;
    border: none;
    color: #888;
    padding: 10px 10px;
    font-size: 16px;
/*    border-radius: 50%;*/
    opacity: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Hover state for search button and clear button */
.search-button:hover,
.clear-button:hover {
    background-color: #f2f2f2;
}