.o_event_striked_yearly {
  position: relative;
}

.o_event_striked_yearly::after {
  content: '';
  display: block;
  width: 80%;
  /* Set width to 90% */
  height: 2px;
  position: absolute;
  top: 50%;
  left: 10%;
  /* Adjust left position for centering */
  background-color: black;
  transform: translateY(-50%);
}

.o_event_hatched_yearly:not(.o_event_dot) {
  --o-overlay-opacity: 0.5;
  --o-bg-opacity: 0.5;
  background: repeating-linear-gradient(45deg, rgba(70, 130, 180, 0.3), rgba(70, 130, 180, 0.3) 10px, rgb(113 75 103 / 60%) 10px, rgb(113 75 103 / 60%) 20px) !important;
}

.o_event_dot_yearly.o_event_hatched {
  --o-overlay-opacity: 0.25;
}

.o_event_dot_yearly.o_event_hatched:before {
  content: "\f1db";
  /* FontAwesome circle-thin */
  color: steelblue;
  /* Steel Blue */
}

.o_event_dot_yearly.o_event_hatched.o_attendee_status_needsAction:before {
  content: "\f1db";
  /* FontAwesome circle-thin */
  color: steelblue;
  /* Steel Blue */
}

.o_calendar_color_4 {
  background-color: rgb(113 75 103 / 65%) !important;
}

.o_calendar_color_10 {
  background-color: rgb(113 75 103 / 65%) !important;
}