body {
    font-family: Arial, sans-serif;
}

.createBtn, .sendBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: $o-brand-odoo;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.o_mail_composer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 680px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 9999;
}

.o_mail_composer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $o-brand-odoo;
    color: white;
}

.o_mail_composer-header h3 {
    margin: 0;
}

.close {
    cursor: pointer;
}

.o_mail_composer-header .close:hover {
    color: rgba(255, 255, 255, 0.8);
}

.o_mail_composer form {
    padding: 14px;
}

.o_mail_composer form input,
.o_mail_composer form textarea {
    width: 100%;
    margin-bottom: 6px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    resize: none;
}
.o_mail_composer form .o_input_attachments {
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    font-size: 14px;
    border: none;
    background-color: #f9f9f9;
}

.o_mail_composer form input:focus,
.o_mail_composer form textarea:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 0 2px $o-brand-odoo;
    resize: none;
}

.attachment-container {
    margin-bottom: 10px;
    .attachment-label {
        display: block;
        padding: 8px 12px;
        font-size: 14px;
        color: $o-brand-odoo;
        background-color: #fff;
        border: 1px solid $o-brand-odoo;
        border-radius: 5px;
        cursor: pointer;
    }

    .attachment-label:hover {
        background-color: #f2f2f2;
    }
}

.o_mail_composer form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: $o-brand-odoo;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.o_email_subject {
    margin-top: 12px;
}
.o_save_to_draft {
    margin-left: 8px;
}
